<div id="<%= dom_id appliance %>">
  <p>
    <strong>Photo url:</strong>
    <%= appliance.photo_url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= appliance.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= appliance.address %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= appliance.availability %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= appliance.price %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= appliance.overview %>
  </p>

  <p>
    <strong>User:</strong>
    <%= appliance.user_id %>
  </p>

</div>
