<div class="col-md-4" id="<%= dom_id appliance %>">
  <div class="card shadow-lg border-0 h-100">
    <!-- Heart Icon -->
    <div class="position-absolute bottom-0 end-0 m-3"
         data-controller="ajax"
         data-ajax-is-login-value="<%= @user.nil? %>"
         data-ajax-appliance-id-value="<%= appliance.id %>"
         data-ajax-login-url-value="<%= new_user_session_path %>"
         data-ajax-save-favourite-url-value="/favourites"
         data-ajax-delete-favourite-url-value=" /favourites/<%= appliance.id %>">
      <div class="text-decoration-none text-danger heart-icon">
        <% if @user&.favourite_list&.appliances&.include?(appliance) %>
          <i class="fas fa-heart fa-lg" data-action="click->ajax#favourite" data-ajax-target="heartElement"></i>
        <% else %>
          <i class="far fa-heart fa-lg" data-action="click->ajax#favourite" data-ajax-target="heartElement"></i>
        <% end %>
      </div>
    </div>
      <%= link_to appliance_path(appliance), class: "text-decoration-none" do %>
        <!-- appliance photo -->
        <%= image_tag( appliance.photo_url , class: "card-img-top", alt: appliance.name, style: "height: 300px; object-fit: cover;") %>

        <!-- Card Body -->
        <div class="card-body d-flex flex-column justify-content-between">

          <!-- appliance name & address -->
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h4 class="card-title m-0"><strong><%= appliance.name %></strong></h4>
            <span class="badge bg-warning text-dark">
              ⭐ <%= number_with_precision(appliance.average_rating, precision: 1) %>
            </span>
          </div>

          <!-- appliance address -->
          <p class="card-text text-muted d-flex align-items-center gap-2" style="font-size: 0.9rem;">
            <span>
              <span class="text-secondary fw-semibold">Location:</span>
              <span class="text-dark ms-1" data-bs-toggle="tooltip" title="<%= appliance.address %>">
                <%= appliance.address %>
              </span>
            </span>
          </p>

          <!-- appliance Overview -->
          <p class="card-text text-muted" style="font-size: 0.9rem;">
            <%= truncate(appliance.overview, length: 120) %>
          </p>

          <!-- appliance price -->
          <div class="d-flex justify-content-between align-items-center mb-2">
              <blockquote class="blockquote text-primary fst-italic">
                “<%= appliance.price %>”
              </blockquote>
          </div>
        </div>
      <% end %>
  </div>
</div>
