<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid position-relative">
    <%= link_to appliances_path, class: "navbar-brand" do %>
      <%= image_tag "DTWash.png" %>
    <% end %>
    <h3 class="position-absolute start-50 translate-middle-x mt-2">
      <strong>FlyAP</strong> - Quick Rent Appliances
    </h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">   <!-- Changed me-auto to ms-auto for right alignment -->
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%#= link_to "#{time_based_greeting} #{@user.username}", "#", class: "nav-link" %>
            <span class="nav-link"
                  data-controller="greeting"
                  data-greeting-target="greeting"
                  data-greeting-username-value="<%= @user.username %>"></span>
          </li>
          <li class="nav-item">
            <%#= link_to @user.username, "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "angry_bird_avatar.png", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# link to get "/my_offers", to: "offers#my_offers"   %>
              <%= link_to "My offers", offer_lists_path, class: "dropdown-item" %>
              <%# link to get "/my_bookings", to: "bookings#my_bookings"   %>
              <%= link_to "My bookings", offers_path, class: "dropdown-item" %>
              <%= link_to "My favourites", favourite_lists_path, class: "dropdown-item" %>
              <%= link_to "My reviews", reviews_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
