<div id="<%= dom_id offer %>">
  <p>
    <strong>Check in date:</strong>
    <%= offer.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= offer.check_out_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= offer.user_id %>
  </p>

  <p>
    <strong>Appliance:</strong>
    <%= offer.appliance_id %>
  </p>

</div>
