<p style="color: green"><%= notice %></p>

<h1>My Offers</h1>

<% @offers.each do |offer| %>
  <div>
    <h2><%= link_to offer.appliance.name, offer_path(offer) %></h2>
    <p>Check-in: <%= offer.check_in_date %></p>
    <p>Check-out: <%= offer.check_out_date %></p>

    <% if offer.user_id.nil? %>
      <%= link_to "Book Now", book_offer_path(offer), method: :patch, class: "btn btn-primary" %>
    <% else %>
      <p><strong>Booked by:</strong> <%= offer.user.email %></p>
    <% end %>
  </div>
<% end %>
